.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 30px; }
  .work .subWork {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    .work .subWork:first-child {
      margin-right: 2%; }
    .work .subWork img {
      max-width: 100%; }
    .work .subWork ._title {
      border-bottom: 3px solid #888888;
      font-size: 24px;
      color: #185572;
      margin: 20px 0;
      padding: 5px 0;
      text-transform: uppercase;
      font-weight: bold; }
      .work .subWork ._title .textSm {
        font-size: 18px;
        font-weight: normal;
        line-height: 25px; }
    .work .subWork ._list li.service {
      list-style-image: url(/local/templates/forDev/images/list.png);
      font-size: 18px;
      color: #185572;
      margin: 10px 0;
      list-style-type: square;
      padding: 0; }
    .work .subWork ._list li:hover {
      color: #fda400;
      list-style-image: url(/local/templates/forDev/images/listY.png); }
    .work .subWork ._list li:after {
      content: " >";
      text-align: right;
      margin-left: 10px;
      font-weight: bold; }
    .work .subWork ._list a {
      color: #185572;
      text-decoration: none; }
    .work .subWork ._list .btn {
      border: 2px solid #888888;
      font-size: 16px;
      background-color: #f4f1ec;
      padding: 5px 25px;
      color: #888888;
      cursor: pointer;
      margin-left: 22px;
      margin-top: 10px;
      background-repeat: no-repeat;
      background-position: 90%; }
      .work .subWork ._list .btn:after {
        content: " >";
        text-align: right;
        margin-left: 10px; }

@media screen and (max-width: 768px) {
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .work .subWork {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }
