<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="columnsButBottom.css">
</head>
<body>
<div id="demos">
    <div class="block">
        <div class="Img">
            <a href="/realizovannyye-proyekty/ip-dudarev/">
                <img src="http://kmz43.palax.kirov.ru/upload/iblock/ebc/ebc6ce98b33ea2af2bf2430f84570946.jpg">
            </a>
        </div>
        <div class="title">
            <a href="/realizovannyye-proyekty/abaris/">
                ООО "Абарис" | Кировская область | Линия перемещения круглых лесоматериалов, РЦ-3 |
                Линия перемещения круглых лесоматериалов, РЦ-3
            </a>
        </div>
        <div class="but_relp">
            <a href="/realizovannyye-proyekty/abaris/">Подробнее</a>
        </div>
    </div>
    <div class="block">
        <div class="Img">
            <a href="/realizovannyye-proyekty/ip-dudarev/">
                <img src="http://kmz43.palax.kirov.ru/upload/iblock/ebc/ebc6ce98b33ea2af2bf2430f84570946.jpg">
            </a>
        </div>
        <div class="title">
            <a href="/realizovannyye-proyekty/abaris/">
                ООО "Касимов древ" | Рязанская область | Линия производства щепы, ЛПЩ-ТОП
            </a>
        </div>
        <div class="but_relp">
            <a href="/realizovannyye-proyekty/abaris/">Подробнее</a>
        </div>
    </div>
    <div class="block">
        <div class="Img">
            <a href="/realizovannyye-proyekty/ip-dudarev/">
                <img src="http://kmz43.palax.kirov.ru/upload/iblock/ebc/ebc6ce98b33ea2af2bf2430f84570946.jpg">
            </a>
        </div>
        <div class="title">
            <a href="/realizovannyye-proyekty/abaris/">
                ООО "Сервисстройснаб" | Московская область | Линия производства щепы, ЛПЩ-ДЕКОР
            </a>
        </div>
        <div class="but_relp">
            <a href="/realizovannyye-proyekty/abaris/">Подробнее</a>
        </div>
    </div>
</div>
</body>
</html>