<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="detPage.css">
</head>
<body>
    <div id="demos">
        <div class="topRow">
            <div class="block">
                <div class="mainPhoto">
                    <a href="">
                        <img src="https://c.dns-shop.ru/thumb/st4/fit/320/250/8e72df3fd1dd896e4c0996aabe688d3f/596d4f50a6e625224c4c1761d1fd82a489785923c0b378a5377b9fe5dd14444b.jpg"
                         alt="" />
                    </a>
                    <div class="thumbPhoto">
                        <a href=""><img src="https://c.dns-shop.ru/thumb/st4/fit/45/45/043eca1bcb43427ba9725802cd2966b3/eb230eae6552b2bb9694b56592d5dd5bb4b00b8f3f18ddbca26d903960d6ae0f.jpg" alt=""></a>
                        <a href=""><img src="https://c.dns-shop.ru/thumb/st4/fit/45/45/c63e90bb98868c5261170a839b7eae4e/596d4f50a6e625224c4c1761d1fd82a489785923c0b378a5377b9fe5dd14444b.jpg" alt=""></a>
                        <a href=""><img src="https://c.dns-shop.ru/thumb/st4/fit/45/45/eb3215b2d7dad93b6aabe67fc933ff3f/ab9d434409bd9f55ee93b3736edd3268e6fb05571b444263f710f5c531d7bc55.jpg" alt=""></a>
                        <a href=""><img src="https://c.dns-shop.ru/thumb/st4/fit/45/45/85226413958c72ffb10d9f5f5c82f795/250edad2c3a797e1a00398c64d2b0afa4ccf8508a598cfa76ab6e92499a97c3d.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="block prodInfo">
                <div class="price">1111 &#8381;</div>
                <div class="rating"></div>

                <div><button class="btn btn-primary">Купить</button></div>
                <div><button class="btn btn-light border-primary text-primary">Купить в один клик</button></div>
                <div class="special-buttons">
                    <div class="compare"></div>
                    <div class="wishlist "></div>
                </div>
                <div class="availability badge-success">
                    В наличии
                </div>
            </div>
        </div>
        <div class="middleRow">
            <div class="tabs">
                <ul>
                    <a href="#">
                        <li>Описание</li>
                    </a>
                    <a href="#">
                        <li>Характеристики</li>
                    </a>
                    <a href="#">
                        <li>Отзывы</li>
                    </a>
                    <a href="#">
                        <li>Комментарии</li>
                    </a>
                    <a href="#">
                        <li>Обзоры</li>
                    </a>
                    <a href="#">
                        <li>Вопрос-Ответ</li>
                    </a>

                </ul>
                <div class="node-block">
                    <div class="price-item-description" itemprop="description">
                        <h2>Описание 14" Ультрабук ASUS VivoBook S14 S410UA-EB287T серый</h2>
                    </div>
                    <div class="price-item-description" itemprop="description">
                        <h2>Характеристики 14" Ультрабук ASUS VivoBook S14 S410UA-EB287T серый</h2>
                    </div>

                </div>
            </div>
        </div>
        <div class="bottomRow">
            <div class="related">
                <div class="slider"></div>
            </div>
        </div>
    </div>
</body>
</html>